@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f7f6f9;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-color: dimgray;
  color: #f7f6f9;
}

.nav-link {
  @apply py-5 w-1/4 text-white bg-red-500 text-center;
}
.back-button {
  @apply p-2 bg-black text-white rounded-md transition-all duration-200 ease-in-out hover:scale-110 hover:bg-gray-700 hover:shadow-lg;
}
.btn-dark {
  @apply bg-white text-black;
}

.btn-light {
  @apply bg-black text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
